* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    text-align:center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

header {
    height: 750px;
    width: 100%;
    background-color: aquamarine;
    background: url("images/banner/banner1.png");
    background-color:lightgray;
    background-repeat: no-repeat;
}


.text-container {
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    position: absolute;
    top: 215px;
    left: 845px;
    right: 230px;  
}

.banner-title {
    color: #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
    height: 225px;
    margin-bottom: 24px;
}

.banner-paragraph {
    color:#444343;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 494px;
    height: 78px;
    margin-bottom: 32px;
}

.failures {
    display: flex;
    justify-content:space-between;
    gap:85px;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 320px;
    margin-bottom: 130px;
}


.fail-img {
    background: rgba(241, 91, 34, 0.20);
    width: 527.929px;
    height: 527.929px;
    border-radius: 50%;
    margin-top: 142px;
}


.fail-img > img {
    margin-top: -193px;
    margin-left: -23px;
}

.fail-text-container {
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-top: 220px;
}

.failure-title {
    color:#151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    width: 290px;
    height: 95px;
    margin-bottom: 25px;
}


.failure-desc {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 420px;
    margin-bottom: 16px;
}

.failures ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    vertical-align: auto;
    list-style-type:none;
    margin-bottom: 8px;
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.my-plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 135px;
}


.plan-heading {
    text-align: center;
    color:#151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.plan-img {
    width: 92px;
    height: 92px;
    margin-bottom: 18px;
}

.plan-title {
    color:#151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}


.plan-desc {
    color:#737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
}

.call-now {
    height: 300px;
    border-radius: 8px;
    background: url("images/watch.png"), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    background-size: cover;
    background-blend-mode: overlay;
    margin: 0 230px 130px 230px;
}

.call-now-title {
    width: 459px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    padding-top: 60px;
    margin-left: 65px;
    margin-bottom: 25px;
}

.call-now-btn {
    padding: 20px 35px;
    margin-left: 65px;
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    }